* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inknut Antiqua";
}

@media only screen and (max-width: 500px) {
    #text-config {
        flex-direction: column;
        width: 100%;
    }
    .text p {
        font-size: 10px;
    }
    .text-2 p {
        font-size: 10px;
    }
    header h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 990px) {
    main .text .p-titulo {
        font-size: 20px;
    }
    main .text-2 .p-titulo {
        font-size: 20px;
    }
}

@media only screen and (min-width: 991px) {
    main #back-page-config {
        height: 100vh;
    }
    main .text p {
        font-size: 20px;
    }
    main .text-2 p {
        font-size: 20px;
    }
    main .text2 {
        width: 100%;
    }
    main .text .p-titulo {
        font-size: 30px;
    }
    main .text-2 .p-titulo {
        font-size: 30px;
    }
}

.back-page {
    display: flex;
    background: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    margin: 5px;
    height: 100%;
}

.docker-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.685);
    border-radius: 15px;
}

header h1 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: chartreuse;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 25px rgba(202, 202, 202, 0.774);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

main p {
    color: chartreuse;
}

main .text {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 15px;
    border-left: none;
    border-right: none;
    width: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.705);
}

main .text-2 {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    border-left: none;
    border-right: none;
    width: 100%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.705);
}

main {
    background-image: linear-gradient(45deg, rgb(123, 255, 0), rgb(255, 230, 0), rgb(255, 0, 0), rgb(2, 2, 255), rgb(41, 40, 40), rgb(255, 0, 0), rgb(255, 230, 0), rgb(2, 2, 255), rgb(123, 255, 0));
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.p-titulo {
    padding: 5px;
    width: 100%;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.801);
}


/* #text-config .p-titulo {
    font-size: 30px;
    color: chartreuse;
} */

main .text1 {
    display: flex;
    align-items: left;
    object-position: center;
    flex-direction: column;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

.text1 ul {
    color: #92ff04d8;
    list-style: circle;
    list-style-position: outside;
    width: 100%;
    padding: 10px;
}

.text1 ul li {
    font-size: 12px;
}

.text1 p {
    font-size: 12px;
    color: white;
}

main .text2 {
    display: flex;
    align-items: top;
    object-position: center;
    flex-direction: column;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

.text2 p {
    font-size: 12px;
    color: white;
}

main .text3 {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-left: 0;
    padding: 0px;
    width: 100%;
    border-radius: 15px;
}

.text3 div {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0);
    margin-left: 0;
    padding: 15px;
    width: 50%;
    border-radius: 15px;
}

.text3 .title h1 {
    display: flex;
    justify-content: center;
    justify-self: center;
    color: #fff;
    font-size: medium;
}

.text3 ul {
    color: #92ff04d8;
    list-style: circle;
    list-style-position: outside;
    width: 100%;
    padding: 10px;
}

.text3 ul li {
    font-size: 12px;
}

.text3 p {
    color: white;
}

main .text4 {
    display: flex;
    align-items: left;
    object-position: center;
    flex-direction: column;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

.text4 p {
    font-size: 12px;
    color: white;
}

.visit {
    display: flex;
    position: relative;
    align-self: center;
    margin: 10px;
}

.text4 #links-channels #youtube {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 20px;
    margin-right: 10px;
    box-shadow: 0 0 15px #ffffff;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    -webkit-animation: glowy 2s ease-in-out infinite alternate;
    -moz-animation: glowy 2s ease-in-out infinite alternate;
    animation: glowy 2s ease-in-out infinite alternate;
}

.text4 #links-channels #twitch {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 10px;
    box-shadow: 0 0 15px #ffffff;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    -webkit-animation: glowt 2s ease-in-out infinite alternate;
    -moz-animation: glowt 2s ease-in-out infinite alternate;
    animation: glowt 2s ease-in-out infinite alternate;
}

.text4 .visit {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px white;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
}

@-webkit-keyframes glowy {
    from {
        box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(212, 39, 39), 0 0 15px #c24e4e, 0 0 20px #be4f4f, 0 0 25px #c7b4b4, 0 0 30px #ff0000;
    }
    to {
        box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 15px #bd7d7d, 0 0 20px #c44545, 0 0 25px #bd1919, 0 0 30px #ff0000;
    }
}

@-webkit-keyframes glowt {
    from {
        box-shadow: 0 0 5px rgb(98, 0, 255), 0 0 10px rgb(105, 39, 212), 0 0 15px #7a4ec2, 0 0 20px #764fbe, 0 0 25px #beb4c7, 0 0 30px #6f00ff;
    }
    to {
        box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 15px #997dbd, 0 0 20px #7c45c4, 0 0 25px #6319bd, 0 0 30px #6200ff;
    }
}

#links-channels #youtube:hover {
    z-index: 1;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.623);
    transform: scale(1.1);
}

#links-channels #twitch:hover {
    z-index: 1;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 25px rgba(139, 0, 252, 0.63);
    transform: scale(1.1);
}

#links-channels #youtube:active {
    transition: all .01s ease-in-out;
    transform: scale(.95);
}

#links-channels #twitch:active {
    transition: all .01s ease-in-out;
    transform: scale(.95);
}

main .text5 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
}

.text5 ul {
    color: #92ff04d8;
    list-style: circle;
    list-style-position: outside;
    width: 100%;
    padding: 10px;
}

.text5 ul li {
    font-size: 12px;
}

.text5 p {
    font-size: 12px;
    color: white;
}

.text5 .the-phrase {
    text-align: center;
    color: chartreuse;
    text-shadow: 0 0 20px rgb(255, 145, 0);
}

main .text6 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
}

.text6 ul {
    color: #92ff04d8;
    list-style: circle;
    list-style-position: outside;
    width: 100%;
    padding: 10px;
}

.text6 ul li {
    font-size: 12px;
}

.text6 p {
    font-size: 12px;
    color: white;
}

.text6 .the-phrase {
    text-align: center;
    color: chartreuse;
    text-shadow: 0 0 20px rgb(247, 0, 0);
}

.text5 .last-word {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-position: center;
    width: 100%;
}

.text5 .last-word p {
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 15px blue;
    border-radius: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    font-size: small;
    box-shadow: 0 0 15px rgba(202, 202, 202, 0.774);
    border-radius: 12px;
}

footer p {
    z-index: 1;
    display: flex;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    box-shadow: 0 0 15px rgba(202, 202, 202, 0.685);
    color: chartreuse;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #4500e6, 0 0 20px #4500e6, 0 0 25px #4500e6, 0 0 30px #5800e6;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #b700ff, 0 0 20px #9900ff, 0 0 25px #9900ff, 0 0 30px #5bbb01;
    }
}